@use '../abstracts' as *;

.button {
	@include pseudo() {
		background: black;
		opacity: 0;
		z-index: -1;
		transition: opacity 200ms ease;
		box-shadow: 0 0.5em 1.25em black;
		border-radius: inherit;
	}

	&:hover,
	&:focus {
		transform: scale(1.05) translateY(-0.125em);
		color: var(--clr-neutral-100);

		&::before {
			opacity: 0.3;
		}
	}

	&[data-reverse='true'] {
		background-color: var(--clr-neutral-100);
		color: var(--clr, var(--clr-primary-400));
	}
}
