@use '../abstracts' as *;

.hero {
	color: var(--clr-white);
	text-align: center;
	padding-block: 4rem;

	& h1 > span:nth-of-type(1),
	& p > span:nth-of-type(1) {
		display: block;
	}

	&__title {
		color: var(--clr-yellow);
	}

	& > p {
		margin-block: 2rem;
	}

	&__images {
		@include flex(row, center, center);
		gap: 5rem;
	}
}
