@use '../abstracts' as *;

.hero {
	color: var(--clr-white);
	text-align: center;
	position: relative;
	background: #121212;

	& > *:not(:first-child) {
		position: relative;
		z-index: 5;
	}

	& h1 > span:nth-of-type(1),
	& p > span:nth-of-type(1) {
		display: block;
	}

	&__title {
		color: var(--clr-yellow);
	}

	& > p {
		margin-block: 2rem;
	}

	&__images {
		@include flex(row, center, center);
		gap: 5rem;
	}

	&__blob {
		position: absolute;
		z-index: 1;

		animation: bouncingBlob 4s alternate infinite linear;
	}
}
