@use '../abstracts' as *;

.hero {
	color: var(--clr-white);
	text-align: center;
	position: relative;
	background: #121212;

	& > *:not(:first-child) {
		position: relative;
		z-index: 5;
	}

	& h1 > span:nth-of-type(1),
	& p > span:nth-of-type(1) {
		display: block;
	}

	&__title {
		color: var(--clr-yellow);
	}

	& > p {
		margin-block: 2rem;
	}

	&__images {
		display: none;
		gap: 5rem;

		@include mq(small) {
			@include flex(row, center, center);
		}
	}

	&__blob {
		position: absolute;
		z-index: 1;

		animation: bouncingBlob 4s alternate infinite linear;
	}

	&__mobile-carousel {
		display: none;
		@include mq(small) {
			display: none;
		}
	}
}

.swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	display: none;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.swiper-slide img {
	display: block;
	width: 100%;
}
