@use '../abstracts' as *;
@use '../utilities' as *;

.resources-card {
	padding: 1rem;
	border: 1px rgb(238, 238, 238) solid;
	width: 15rem;
	height: 15rem;
	margin: 2rem;
	position: relative;
	overflow: hidden;

	&:nth-of-type(1) {
		@extend %green-gradient;
	}

	&:nth-of-type(2) {
		@extend %tomato-gradient;
	}

	&:nth-of-type(3) {
		@extend %blue-gradient;
	}

	&:nth-of-type(4) {
		@extend %purple-gradient;
	}

	&__number {
		@include flex(row, space-between, center);
		margin-bottom: 1rem;
	}

	& > P {
		font-size: 0.8rem;
	}

	& > h1 {
		position: absolute;
		bottom: 10%;
		@extend %transparent-font;
	}
}
