@use '../abstracts' as *;

.resources-card {
	padding: 1rem;
	border: 1px rgb(238, 238, 238) solid;
	width: 15rem;
	height: 15rem;
	margin: 2rem;
	position: relative;
	overflow: hidden;

	&:nth-of-type(1) {
		background: linear-gradient(
			328.87deg,
			rgba(0, 191, 109, 0.48) 1.88%,
			rgba(0, 191, 109, 0) 49.47%,
			rgba(217, 217, 217, 0) 57.4%,
			rgba(217, 217, 217, 0) 62.83%,
			rgba(217, 217, 217, 0) 71.23%,
			rgba(217, 217, 217, 0) 81.34%,
			rgba(217, 217, 217, 0) 100%
		);
	}

	&:nth-of-type(2) {
		background: linear-gradient(
			315deg,
			#ff94734f,
			rgba(88, 89, 200, 0) 48.5%,
			rgba(217, 217, 217, 0) 56.58%,
			rgba(217, 217, 217, 0) 62.12%,
			rgba(217, 217, 217, 0) 70.67%,
			rgba(217, 217, 217, 0) 80.98%,
			rgba(217, 217, 217, 0) 100%
		);
	}
	&:nth-of-type(3) {
		background: linear-gradient(
			328.87deg,
			rgba(88, 89, 200, 0.48) 1.88%,
			rgba(88, 89, 200, 0) 49.47%,
			rgba(217, 217, 217, 0) 57.4%,
			rgba(217, 217, 217, 0) 62.83%,
			rgba(217, 217, 217, 0) 71.23%,
			rgba(217, 217, 217, 0) 81.34%,
			rgba(217, 217, 217, 0) 100%
		);
	}
	&:nth-of-type(4) {
		background: linear-gradient(
			315deg,
			#de73ff4f,
			rgba(88, 89, 200, 0) 48.5%,
			rgba(217, 217, 217, 0) 56.58%,
			rgba(217, 217, 217, 0) 62.12%,
			rgba(217, 217, 217, 0) 70.67%,
			rgba(217, 217, 217, 0) 80.98%,
			rgba(217, 217, 217, 0) 100%
		);
	}

	&__number {
		@include flex(row, space-between, center);
		margin-bottom: 1rem;
	}

	& > P {
		font-size: 0.8rem;
	}

	& > h1 {
		font-size: 6rem;
		position: absolute;
		-webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.096);
		-webkit-text-fill-color: rgba(255, 255, 255, 0);
		bottom: 10%;
		text-transform: uppercase;
	}
}
