@use '../abstracts' as *;
@use '../utilities/' as *;

.spotlight-card {
	border: 1px solid rgba(255, 255, 255, 0.027);
	border-radius: 1rem;
	width: 25rem;
	height: 35rem;
	box-shadow: rgba(248, 248, 248, 0.2) 0px 1px 4px 0px;
	padding: 2rem;
	margin-block: 2rem;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	@include flex(column, space-between, flex-start);
	transition: all 2s ease-out;

	& > div:nth-of-type(1) {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&:nth-of-type(1) {
		@extend %blue-gradient;

		&:hover {
			@extend %blue-gradient-hover;
		}

		& > div > div {
			color: var(--clr-blue);
		}
	}

	&:nth-of-type(2) {
		@extend %tomato-gradient;

		&:hover {
			@extend %tomato-gradient-hover;
		}

		& > div > div {
			color: var(--clr-tomato);
		}
	}

	&:nth-of-type(3) {
		@extend %green-gradient;

		&:hover {
			@extend %green-gradient-hover;
		}

		& > div > div {
			color: var(--clr-green);
		}
	}

	&:nth-of-type(4) {
		@extend %white-gradient;

		&:hover {
			@extend %white-gradient-hover;
		}
	}

	&__tagline {
		@include flex(row, space-between, center);
	}

	&__title {
		font-weight: 400;
		width: 12ch;
	}

	&__description {
		font-size: 0.8rem;
	}

	&__icon-wrapper {
		padding: 1rem;
		width: 3.5rem;
		height: 3.5rem;
		background: rgba(26, 25, 25, 0.534);
		border-radius: 50%;
		margin-top: 1rem;
		display: flex;
		gap: 1rem;
		text-transform: uppercase;
		transition: all 0s ease-out;

		& p {
			display: none;
		}
	}

	&:hover &__icon-wrapper {
		width: fit-content;
		border-radius: 5rem;

		& > p {
			display: block;
		}
	}

	&__icon {
		transition: all 0.5s ease-in-out;
	}

	&:hover &__icon {
		transform: rotate(45deg);
	}

	&__backText {
		@extend %transparent-font;
		font-size: 8rem;
		font-family: var(--font-inter);
		font-weight: 400;
		position: absolute;
		bottom: 15%;
		transition: all 0.5s ease-in-out;
	}

	&:hover &__backText {
		transform: translateX(-30%);
	}

	&__image {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
