@use '../abstracts' as *;

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background: var(--clr-dark);
	padding: 3rem 8rem;
}

section {
	padding-block: 6rem;
	color: var(--clr-white);
}
