@use '../abstracts' as *;

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background: var(--clr-dark);
	padding: 2rem;
	overflow-x: hidden;

	@include mq(small) {
		padding: 3rem 5rem;
	}

	@include mq(medium) {
		padding: 3rem 8rem;
	}

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: rgba(128, 255, 0, 0);
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(130, 130, 131, 0.452);
		border-radius: 2rem;
	}
}

section {
	padding-block: 6rem;
	color: var(--clr-white);
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}
