@use '../abstracts' as *;

.resources {
	color: var(--clr-white);
	background: url('../../public/assets/images/background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	@include flex(row, space-between, center);
	flex-wrap: wrap;

	& h2 {
		width: 10ch;
	}
}
